{% extends "base.html" %}

{% block uptitle %} Votei, IAgora? Sobre o projeto {% endblock %}

{% block maintitle1 %}
<!-- Lupa -->
Sobre o projeto
{% endblock %}


{% block insert02 %}

<p> 
    O projeto é formado por estudantes do bacharelado em Inteligência Artificial
    da Universidade Federal de Goiás, matriculados na disciplina de Programação Orientada
    a Objetos, ministrada pelo Prof. Dr. Vinícius Sebba Patto no 2º semestre de 2022. </p>
<p> 
    Fazem parte do projeto os estudantes Fabiano Caetano de Souza, Fernando de Assis Mota, 
    Gustavo Coimbra Cavalcante, Marcelo Henrique Alves Pereira Sobrinho e Maria Eduarda Silva 
    Borba.
</p>
<p> 
    A ideia surgiu em uma conversa entre os estudantes do grupo, na contexto da disciplina
    Empreendedorismo. O estudante Fernando comentou com o grupo sua ideia, colocando a seguinte
    questão: quem de vocês acompanha as ações dos políticos em que votaram e que foram eleitos 
    para mandatos nas câmaras de deputados estaduais, congresso e senado federais? Não houve
    uma resposta positiva e, na opinião do grupo, isso deve refletir o comportamento da maioria da população.
    A questão é que há uma dificuldade em fazer esse acompanhamento, uma
    vez que para encontrar essas informações é preciso pesquisar em diferentes canais oficiais.
    A ideia original do Fernando foi a de construir um sistema web em que o usuário se cadastra 
    e cadastra também os candidatos para os quais elegeu nas últimas eleições. O sistema é programado
    para pesquisar e apresentar os resultados com as informações sobre os políticos escolhidos em seus 
    mandatos.
</p>
<p>
    A presente proposta é uma versão inicial dessa ideia e foi produzida de forma colaborativa
    por todos os estudantes do grupo na disciplina Programação Orientada a Objetos.
</p>

{% endblock %}

{% block centered2 %}
{% if "user" in session %}
<p class="lead">
    <a href="/search" type='button' class="btn btn-primary btn-lg">Voltar</a>
</p>
{% else %}
<p class="lead">
    <a href="/home" type='button' class="btn btn-primary btn-lg">Voltar</a>
</p>
{% endif %}
{% endblock %}