{% extends "base.html" %}

{% block uptitle %} Votei, IAgora? Home {% endblock %}

{% block maintitle1 %} Votei, {% endblock %}
{% block maintitle2 %} IAgora? {% endblock %}

<!-- Botões Entrar e Novo Cadastro -->
{% block insert01 %}
<p class="lead">
    <a href="/login" class="btn btn-lg btn-light fw-bold border-white bg-white">Entrar</a>
</p>
{% endblock %}
{% block insert02 %}
<p class="lead">
    <a href="/registration" class="btn btn-lg btn-light fw-bold border-white bg-white">Novo Cadastro</a>
</p>
{% endblock %}

