{% extends "base.html" %}

{% block uptitle %} Votei, IAgora? Entrar {% endblock %}

<!-- Formulario de login -->
{% block centered1 %}
    <!-- Campo Usuario -->
    <form action="#" method="post">
    <div class="row g-10 align-items-center">
        <div class="col-auto">
          <label for="inputUser" class="col-form-label">Usuário</label>
        </div>
        <div class="col-auto">
          <input type="text" name="usr" id="inputUser" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <!--span id="passwordHelpInline" class="form-text">
            
          </span-->
        </div>
    </div>
    <!-- Campo Senha -->
    <div class="row g-10 align-items-center">
        <div class="col-auto">
          <label for="inputPasswd" class="col-form-label">Senha</label>
        </div>
        <div class="col-auto">
          <input type="password" name="pwd" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
             Preferencialmente, entre 8 e 20 caracteres.
          </span>
        </div>
      </div>
    <p class="lead"> 
      <!-- Botão Entrar-->
      <input type="submit" value="Entrar" class="btn btn-lg btn-light fw-bold border-white bg-white">
    </p>
    </form>
 

{% endblock %}